

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.btn-1{
  font-weight: bold;
  color:black;
  padding: 18px 35px;
  border: none;
  border-radius: 5;
  font-size: large;
}
nav ul li{
  list-style: none;
}
#hero{
  height: 615px;
  background-image: url(Hero-bg.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-1{
  width: 685px;
  color: rgb(13, 19, 33);
}
.h-1{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
justify-content: center;
position: static;
width: 998px;
height: 136px;

}
.p-1{

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;

}
.btn-2{
position: static;
width: 208px;
height: 66px;
font: 1em sans-serif;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

padding: 21px 24px 21px 24px;
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
  border-radius: 8px;

background:white;
border-radius: 8px;
border-radius: 8px;

background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.img-2{
position: absolute;
width: 240.28px;
height: 240px;
bottom: 0%;
}
.h-2{
position: static;
width: 852px;
height: 39px;
display: flex;
flex-direction: column;
justify-content:space-around;
align-items: center;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.p-2{
  
  display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
main section{
  margin-top: 130px;
}
.h-3{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;

}
.img-3{
  display:flex;
position: absolute;
width: 259.56px;
height: 217.01px;
right: 0.36%;

}
.btn-3{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
}
.img-4{
position: relative;
width: 240px;
height: 240px;
position: static;
top: -1,74;
width: 240px;
height: 240px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 32px;
}


.h-4{
position: static;
width: 477px;
height: 72px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
text-align: center;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;
}
.h-5{
  text-align:center ;
}
.p-4{
  text-align:center ;
}
.skills-1{
  display: flex;
  gap: 24px;
  border-radius: 16px;

background: rgba(255, 76, 30, 0.05);
}
.skill{
  padding: 30px;
  border-radius:5px ;
  box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.6);
}
.skill-description{
  opacity: 0.7;

}
.h-6{
  text-align: center;
}
.p-5{
  text-align: center;
  opacity: 0.7;

}
.sudip{
  border: 2px;
}
.p-6{
  left: auto;
}
.sudips{
  display: flex;
}