

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.btn-1{
  font-weight: bold;
  color:black;
  padding: 18px 35px;
  border: none;
  border-radius: 5;
  font-size: large;
}
nav ul li{
  list-style: none;
}
#hero{
  height: 615px;
  background-image: url(Hero-bg.png);
}
